.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'main main main main sidebar sidebar'
                         'footer footer footer footer footer footer';
    gap: 10px;
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-area: header;
    background-color: #63B3ED;
    text-align: center;
    color: #FFFFFF;
}
.header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.main { grid-area: main; }

.sidebar {
    grid-area: sidebar;
    padding: 30px;
}
.sidebar h3 { font-family: Georgia, 'Times New Roman', Times, serif }
.sidebar a { color:#4299E1;}
.about { background: #E2E8F0; padding: 30px; }
.socials h3, .archive h3 { color: #48BB78; }
.socials ul, .archive ul { list-style: none; margin: 0px; padding: 10px; }
.socials li img { width: 32px; }

.footer { grid-area: footer; background: #2C5282; color: #FFFFFF; padding:10px;}

article h2 {
    font-size: 32px;
    color: #48BB78;
}
article time {
    color: #718096;
}

body {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
    color: #2D3748;
}
